.antd-empty {
    width: 100%;
    margin: 0 8px;
    font-size: 14px;
    line-height: 1.5715;
    text-align: center;
    overflow: hidden;
    height: 100%;
	.ant-empty-image {
		height: 100px;
        margin-bottom: 8px;
        img {
            height: 100%;
            margin: auto;
        }
    }
    .antd-empty-description {
        color: rgba(0,0,0,.85);
    }
}
