.topic {
	flex: 1;
	padding: 12px;
	&__title {
		color: #666;
		font-weight: bold;
		font-size: 24px;
		margin-top: 24px;
		&:first-child {
			margin-top: initial;
		}
	}
	&__block {
		margin-top: 12px;
	}
}
