.header {
	display: flex;
	align-items: center;
	background: #0087DC;
	padding: 12px 36px;
	&__title {
		font-size: 18px;
		font-weight: bold;
		margin-right: 12px;
	}
	&__links {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		&-item {
			color: #aaaaaa;
			text-decoration: none;
			font-weight: bold;
			padding: 8px 14px ;
			&--active {
				color: white;
				border-bottom: 2px solid white;
			}
			&:hover {
				color: white;
				border-bottom: 2px solid white;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.header__links {
		display: none;
	}
}
