.header {
	display: flex;
	align-items: center;
	background: #0087dc;
	padding: 12px 36px;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	transition: top 0.3s ease-in-out;
	&__title {
		font-size: 18px;
		font-weight: bold;
		margin-right: 12px;
	}
	&__links {
		flex: 1;
		display: flex;
		&__item {
			color: #aaaaaa;
			text-decoration: none;
			font-weight: bold;
			padding: 8px 14px;
			&--active {
				color: white;
				border-bottom: 2px solid white;
			}
			&:hover {
				color: white;
			}
		}
	}
	&--hide {
		top: -100px;
	}
}

// 480px
@media screen and (max-width: 600px) {
	.header__links {
		display: none;
	}
}
