.drawer {
	&__icon {
		display: none !important;
		margin-left: 10px;
	}
	&__header {
		display: flex;
		align-items: center;
		padding: 20px;
		&-title {
			font-size: 18px;
			font-weight: bold;
		}
	}
	&__list {
		padding: 10px !important;
		.MuiSvgIcon-root {
			margin-left: 8px;
		}
	}
}

@media screen and (max-width: 480px) {
	.drawer {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		&__icon {
			display: flex !important;
		}
	}
}
